<div class="container">	
	<h2 class="text-center"><%= @post.title %></h2>

	<p><%= @post.body %></p>

	<% if current_user.id == @post.user_id %>
		<%= link_to 'Edit', edit_post_path(@post) %> |
	<% end %>

	<%= link_to 'Back', posts_path %>
</div>